:root {
  font-family: sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f5f6f8;
}

#root {
  background-color: #f5f6f8;
}

@media (min-width: 481px) {
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #e9ebef !important;
  }

  #root {
    width: 100%;
    max-width: 480px;
  }
}
